body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
/* width: 100%; 100% of the parent element 
box-sizing: padding and border are included in the width
*/

#title-header {
    background-color: #2e8e86;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}

input {
    background-color: rgba(234, 228, 228, 0.519);
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #2e8e86;
    margin: 15px 5px;
    padding: 10px 10px;
    border-radius: 50px;
}

#input-el::placeholder {
    color: #2e8e86;
    font-style: italic;
    
}



button {
    background-color: #2e8e86;
    color: white;
    font-weight: bold;
    border: 1px solid #2e8e86;
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 50px;
    
}

#delete-btn {
    background-color: white;
    color: #379fa1;
    font-weight: bold;
    border: 1px solid #2e8e86;
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 50px;    
}

/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #2e8e86;
}