body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
/* width: 100%; 100% of the parent element 
box-sizing: padding and border are included in the width
*/

input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin: 15px 5px;
    padding: 10px 10px;
    border-radius: 50px;
}

button {
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    border: 1px solid #5f9341;
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 50px;
    
}

#delete-btn {
    background-color: white;
    color: #5f9341;
    font-weight: bold;
    border: 1px solid #5f9341;
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 50px;    
}

/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}